* {
  margin: 0;
  box-sizing: border-box;

  main {
    position: absolute;
    width: 100%;

    header {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 50px;

      article {
        background-color: white;
        min-width: 260px;
        max-width: 35%;
        padding: 15px;
        font-size: 70%;
        line-height: 1.5;
        margin-bottom: 15px;
        border: 4px black double;
        font-family: cursive;
        border-radius: 7px;
      }

      .create_deck {
        padding: 10px;
        font-size: 15px;
        border: 2px black solid;
        border-radius: 10px;
        font-family: fantasy;
        transition: 2s;
        cursor: pointer;

        &:hover {
          transform: rotate(360deg) scale(1.5);
          color: rgba(190, 0, 0, 255);
        }
      }
    }

    section {
      justify-content: center;
      margin-top: 40px;
      padding-top: 20px;
      display: none;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 40px 185px 185px;
      place-items: center;
      gap: 20px;

      .time {
        padding: 10px 5px 10px 5px;
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      }

      .shuffle {
        padding: 10px;
        border: 1px black solid;
        border-radius: 1rem;
        transition: 0.5s;
        font-family: cursive;
        cursor: pointer;

        &:hover {
          color: rgba(190, 0, 0, 255);
        }
      }

      .score {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border: 2px black solid;
        max-width: 8rem;
        height: 75%;
        border-radius: 1rem;
        background-color: white;
        padding: 1rem;
        font-size: large;

        .points {
          font-size: 12px;
          font-family: Georgia, "Times New Roman", Times, serif;
          font-style: oblique;
        }

        h4 {
          position: absolute;
          bottom: 145px;
          background: white;
          border-radius: 5px;
          padding: 5px;
          border: 2px solid black;
          font-size: 12px;
        }
      }

      .card {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        background-color: white;
        max-width: 8rem;
        min-width: 80px;
        width: 35%;
        border-radius: 1rem;
        font-size: 5rem;

        &:before {
          position: absolute;
          font-size: 28px;
          content: attr(data-value);
          top: 0.5rem;
          left: 0.5rem;
        }

        &:after {
          position: absolute;
          font-size: 28px;
          content: attr(data-value);
          bottom: 0.5rem;
          right: 0.5rem;
          transform: rotate(180deg);
        }
      }

      .card {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
      }

      .player {
        background-image: url(../img/Red.jpeg);
      }

      .computer {
        background-image: url(../img/Blue.jpg);
      }
    }
  }

  // Media Query
  @media (max-width: 670px) {
    main {
      section {
        grid-template-columns: repeat(2, 120px);

        .score h4 {
          padding: 2px;
        }
      }
    }
  }
}